.fb-composer {
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  max-width: 42rem;
  margin: 1.25rem auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.fb-composer h3 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.fb-composer > div:first-of-type {
  background-color: red;
}

.fb-composer > div:first-of-type button {
  background-color: #a09d9d;
}

.fb-composer > div:first-of-type button img {
  background-color: #a09d9d;
  border-radius: 9999px;
}

.fb-composer > div:first-of-type button img:hover {
  opacity: .8;
}

.fb-composer > div:first-of-type > div:last-of-type {
  border: 1px solid blue;
}

.fb-composer > div:last-child {
  background-color: blue;
}
