@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide:{
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .__react_component_tooltip {
    padding: 6px 8px !important;
  }
}
@variants group-hover, hover, focus {
  .visible {
    visibility: visible;
  }
}